{% extends 'base.twig' %}

{% block seo %}
	<title>{{ config['site-name'] }} || {{ post.title }}</title>
	<meta name="page-title" content="{{ post.title }}" />
	<meta name="description" content="{{ post.description }}" />
	<meta name="author" content="{{ post.author.username }}"/>

	{% if post.video_id and post.video_provider %}
	    {% if post.video_provider == "youtube" %}
	    	{% set player_url = "https://www.youtube.com/embed/" ~ post.video_id %}
	    {% elseif post.video_provider == "vimeo" %}
	    	{% set player_url = "https://player.vimeo.com/video/" ~ post.video_id %}
	    {% else %}
	    	{% set player_url = false %}
	    {% endif %}
	{% endif %}

	{# Open Graph #}
	<meta property="og:title" content="{{ post.title }}" />
	<meta property="og:type" content="{% if player_url %}video.other{% else %}article{% endif %}" />
	<meta property="og:url" content="https://{{ config['domain'] }}{{ currentRoute }}" />
	<meta property="og:image" content="{{ post.featured_image }}" />
	<meta property="og:description" content="{{ post.description }}" /> 
	<meta property="og:site_name" content="{{ config['site-name'] }}" />
	{% if player_url %}
	<meta property="og:video" content="{{ player_url }}" />
	{% endif %}

	{# Twitter Card #}
	<meta name="twitter:card" content="{% if player_url %}player{% else %}summary_large_image{% endif %}">
	<meta name="twitter:title" content="{{ post.title }}">
	<meta name="twitter:description" content="{{ post.description }}">
	<meta name="twitter:image" content="{{ post.featured_image }}">
	{% if player_url %}
	<meta property="twitter:player" content="{{ player_url }}" />
	<meta property="twitter:player:stream" content="{{ player_url }}" />
    <meta property="twitter:player:height" content="450" />
    <meta property="twitter:player:width" content="800" />
	{% endif %}

	{# Google+ #}
	<meta itemprop="name" content="{{ post.title }}">
	<meta itemprop="description" content="{{ post.description }}">
	<meta itemprop="image" content="{{ post.featured_image }}">
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('dappur/css/blog-comments.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">

			    <div class="card mb-4">
			    	<a href="{{path_for('blog-post', {'year': post.publish_at|date("Y"), 'month': post.publish_at|date("m"), 'day': post.publish_at|date("d"), 'slug': post.slug})}}">
			    		<h2 class="card-title">{{post.title}}</h2>
			    	</a>
			    	
			    	{% if post.video_id and post.video_provider %}
                        {% if post.video_provider == "youtube" %}
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/{{post.video_id}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        {% endif %}

                        {% if post.video_provider == "vimeo" %}
                            <div class="video-container">
                                <iframe src="https://player.vimeo.com/video/{{post.video_id}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        {% endif %}
                    {% elseif post.featured_image %}
						<a href="{{path_for('blog-post', {'year': post.publish_at|date("Y"), 'month': post.publish_at|date("m"), 'day': post.publish_at|date("d"), 'slug': post.slug})}}">
							<img alt="Card image cap" class="card-img-top img-responsive" src="{{post.featured_image}}">
						</a>
                    {% endif %}
					<div class="card-footer text-muted">
						Posted on {{post.publish_at|date('m/d/Y h:i a')}} by <a href="{{path_for('blog-author', {'username': post.author.username})}}">{{post.author.username}}</a><br />
					</div>
					<div class="card-body">
						<div>
							<b>Tags:</b> 
							{% for tag in post.tags %}
							    <a href="{{path_for('blog-tag', {'slug': tag.slug})}}">{{ tag.name }}</a> 
							{% endfor %}
						</div>
						<div>
							<b>Category:</b> <a href="{{path_for('blog-category', {'slug': post.category.slug})}}">{{ post.category.name }}</a> 
						</div>
						<p class="card-text"><b>Description:</b> {{post.description}}{{ _self.getTemplateName().__toString }}</p>
						<p class="card-text">{{post.content|raw}}</p>
					</div>
					
				</div>

				{% include 'inc/blog-comments.twig' %}
				
			</div>
			<div class="col-md-4">
		    	{% include 'inc/blog-sidebar.twig' %}
		    </div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
    {{ recaptchaJs() }}
    <script src="{{ asset('dappur/js/blog-comments.js') }}"></script>
    {% if requestParams['comment_login'] %}
	    <script type="text/javascript">
	    $(document).ready(function(){
	    	$('html, body').animate({
			    scrollTop: ($('#comments').offset().top -175)
			},500);
		});
		</script>
    {% endif %}
{% endblock %}