{% extends 'base.twig' %}

{% block title %}{{config['site-name']}} || Edit Tag - {{tag.name}}{% endblock %}

{% block body %}
    <div class="col-lg-12">
        <h1 class="page-header">Edit Tag</h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
            <li>
                <i class="fa fa-newspaper-o"></i> Blog
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Edit Tag
            </li>
        </ol>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit Tag - {{tag.name}}
            </div>

            
            <div class="panel-body">
                <form action="{{ currentRoute }}" method="POST" role="form">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group{% if has_error('tag_name') %} has-error{% endif %}">
                            <label for="tag_name">Tag Name</label>
                            <input type="text" name="tag_name" class="form-control" id="tag_name" placeholder="Tag Name" value="{{tag.name}}" required="required">
                            <span class="help-block">{{ error('tag_name') }}</span>
                        </div>

                        <div class="form-group{% if has_error('tag_slug') %} has-error{% endif %}">
                            <label for="tag_slug">Tag Slug</label>
                            <input type="text" name="tag_slug" class="form-control" id="tag_slug" placeholder="Tag Slug" value="{{tag.slug}}" required="required">
                            <span class="help-block">{{ error('tag_slug') }}</span>
                        </div>

                    </div>

                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control">Edit Tag</button>
                        </div>
                    </div>
                    {{ csrf() }}
                    <input type="hidden" name="tag_id" value="{{tag.id}}" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}

