{% extends 'base.twig' %}

{% block title %}{{config['site-name']}} || Dashboard{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
	<section class="content-header">
		<h1>Dashboard <small>Control panel</small></h1>
		<ol class="breadcrumb">
			<li>
				<a href="#"><i class="fa fa-dashboard"></i> Home</a>
			</li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-lg-3 col-xs-6">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>{{userCount}}</h3>
						<p>Users</p>
					</div>
					<div class="icon">
						<i class="ion ion-bag"></i>
					</div><a class="small-box-footer" href="{{path_for('admin-users')}}">View Users <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>

			<div class="col-lg-3 col-xs-6">
				<div class="small-box bg-green">
					<div class="inner">
						<h3>{{ pendingComments }}</h3>
						<p>Pending Blog Comments</p>
					</div>
					<div class="icon">
						<i class="ion ion-stats-bars"></i>
					</div><a class="small-box-footer" href="{{path_for('admin-blog-comments')}}">View Blog Comments <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>

			<div class="col-lg-3 col-xs-6">
				<div class="small-box bg-yellow">
					<div class="inner">
						<h3>{{ blogCount }}</h3>
						<p>Blog Posts</p>
					</div>
					<div class="icon">
						<i class="ion ion-person-add"></i>
					</div><a class="small-box-footer" href="{{path_for('admin-blog')}}">View Blog Posts <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>

			<div class="col-lg-3 col-xs-6">
				<div class="small-box bg-red">
					<div class="inner">
						<h3>{{ contactCount }}</h3>
						<p>Contact Requests (Last 30 Days)</p>
					</div>
					<div class="icon">
						<i class="ion ion-pie-graph"></i>
					</div><a class="small-box-footer" href="{{path_for('admin-contact')}}">View Contact Requests <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		{% if (config['analytics-view-id'] is empty or not accessToken) and auth.inRole('admin') %}
			<div class="col-md-6 col-md-offset-3 text-center">
				<h1>Google Analytics Plugin</h1>
				<p style="font-size: 18px;">
					This plugin provides access to the Google Analytics Embed API. Once this plugin is activated.  Any user with the <code>analytics.view</code> permission will be able to see the basic Google Analytics data from this page.
				</p>
			</div>
		
			{% if not accessToken and auth.inRole('admin') %}
				<div class="col-md-6 col-md-offset-3 text-center">
					<h4 style="color: red;"><b>JSON Certificate Not Found</b></h4>
					<p>
						In order to activate Ananytics you must upload a Google JSON Service Account certificate. To manage or create a service account <a href="https://console.developers.google.com/iam-admin/serviceaccounts" target="_blank">click here</a>.
					</p>
					<p>
						<b>NOTE: You must also give the service account user read only access to Google Analytics using the email address of the service account.  This can be obtained from the <a href="https://console.developers.google.com/iam-admin/serviceaccounts" target="_blank">Google Cloud Console</a></b> or in the JSON certificate that you uploaded.
					</p>

					<form method="POST" action="{{currentRoute}}" enctype="multipart/form-data" style="margin-top: 25px;">
						<!-- COMPONENT START -->
						<div class="form-group">
							<div class="input-group input-file" name="sa_cert">
					    		<input type="text" class="form-control" placeholder='Choose a file...' required />			
					            <span class="input-group-btn">
					        		<button class="btn btn-default btn-choose" type="button">Choose</button>
					    		</span>
							</div>
						</div>
						<!-- COMPONENT END -->
						<div class="form-group text-left">
							<button type="submit" class="btn btn-primary pull-right">Upload JSON Certificate</button>
							<button type="reset" class="btn btn-danger">Reset</button>
						</div>
						{{ csrf() }}
					</form>
				</div>
			{% else %}
				<div class="col-md-6 col-md-offset-3 text-center">
					<h4 style="color: green;"><b>JSON Certificate Found</b></h4>
					<p>
						<b>NOTE: You must also give the service account user read only access to Google Analytics using the email address of the service account.  This can be obtained from the <a href="https://console.developers.google.com/iam-admin/serviceaccounts" target="_blank">Google Cloud Console</a></b> or in the JSON certificate that you uploaded.
					</p>

				</div>
			{% endif %}

			{% if config['analytics-view-id'] is empty and auth.inRole('admin') %}
				<div class="col-md-6 col-md-offset-3 text-center">
					<h4 style="color: red;"><b>View ID Not Set</b></h4>
					<p>
						You must set the view ID for the site data that you want to display on this page.  Please go the to <a href="{{ path_for('settings-global') }}">Global Settings</a> and edit <code>analytics-view-id</code>, which is located in <code>Dashboard Settings</code>.
					</p>
					<p>
						The view ID can be obtained from the <a href="https://ga-dev-tools.appspot.com/account-explorer/" target="_blank">Account Explorer</a> within the Embed API Docs.  You can also look it up within the Google Analytics Admin.  <b>Note: You only want to inser the numbers from the view id, not the preceeding "ga:".</b> 
					</p>
				</div>
			{% endif %}
		{% endif %}

		{% if accessToken and config['analytics-view-id'] is not empty and (auth.inRole('admin') or auth.hasAccess('analytics.view')) %}
		<div class="row">
			<section class="col-lg-7 connectedSortable">

				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Sessions Last 30 Days</h3>
					</div>
					<div class="box-body chat" id="chat-box">
						<div id="sessions-30-days"></div>
					</div>
				</div>

				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Bounces Last 30 Days</h3>
					</div>
					<div class="box-body chat" id="chat-box">
						<div id="bounces-view"></div>
					</div>
				</div>

				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Users Last 30 Days</h3>
					</div>
					<div class="box-body">
						<div id="users-30-days"></div>
					</div>
				</div>

				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Average Session Duration</h3>
					</div>
					<div class="box-body">
						<div id="duration-30-days"></div>
					</div>
				</div>
			</section>

			<section class="col-lg-5 connectedSortable">

				<div class="box box-solid bg-light-blue-gradient">
					<div class="box-header">
						<h3 class="box-title">Top Countries By Session</h3>
					</div>
					<div class="box-body" style="color: black;">
						<div id="sessions-by-country"></div>
					</div>
					
				</div>

				<div class="box box-solid bg-green-gradient">
					<div class="box-header">
						<h3 class="box-title">Top 10 Pages</h3>
					</div>
					<div class="box-body no-padding" style="color: black;">
						<div id="pages-view"></div>
					</div>
				</div>

				<div class="box box-solid bg-teal-gradient">
					<div class="box-header">
						<h3 class="box-title">Top 20 Referrers</h3>
					</div>
					<div class="box-body border-radius-none" style="color: black;">
						<div id="referrers-path"></div>
					</div>
					
				</div>

				<div class="box box-solid bg-green-gradient">
					<div class="box-header">
						<h3 class="box-title">Top 10 Keywords</h3>
					</div>
					<div class="box-body no-padding" style="color: black;">
						<div id="organic-searches"></div>
					</div>
				</div>

			</section>
		</div>
		{% endif %}
	</section>
{% endblock %}

{% block javascript %}

	<script>
		function bs_input_file() {
			$(".input-file").before(
				function() {
					if ( ! $(this).prev().hasClass('input-ghost') ) {
						var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
						element.attr("name",$(this).attr("name"));
						element.change(function(){
							element.next(element).find('input').val((element.val()).split('\\').pop());
						});
						$(this).find("button.btn-choose").click(function(){
							element.click();
						});
						$(this).find("button.btn-reset").click(function(){
							element.val(null);
							$(this).parents(".input-file").find('input').val('');
						});
						$(this).find('input').css("cursor","pointer");
						$(this).find('input').mousedown(function() {
							$(this).parents('.input-file').prev().click();
							return false;
						});
						return element;
					}
				}
			);
		}
		$(function() {
			bs_input_file();
		});
	</script>

	{% if accessToken and config['analytics-view-id'] is not empty %}
		<script>
			(function(w,d,s,g,js,fs){
			  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
			  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
			  js.src='https://apis.google.com/js/platform.js';
			  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
			}(window,document,'script'));
		</script>
		<script>
			gapi.analytics.ready(function() {
			  	gapi.analytics.auth.authorize({
			    	'serverAuth': {
				      'access_token': '{{ accessToken }}'
				    }
			  	});

			  	var dataChart = new gapi.analytics.googleCharts.DataChart({
				    query: {
				    	ids: 'ga:{{ config['analytics-view-id'] }}',
				      	metrics: 'ga:sessions',
				      	dimensions: 'ga:date',
				      	'start-date': '30daysAgo',
				      	'end-date': 'yesterday'
				    },
				    chart: {
				      	container: 'sessions-30-days',
				      	type: 'LINE',
				      	options: {
				      		width: '100%',
				      		backgroundColor: 'transparent'
				      }
				    }
			  	});

			  	var dataChart1 = new gapi.analytics.googleCharts.DataChart({
				    query: {
				    	ids: 'ga:{{ config['analytics-view-id'] }}',
				      	metrics: 'ga:sessions',
				      	dimensions: 'ga:country',
				      	'start-date': '30daysAgo',
				      	'end-date': 'yesterday',
				      	'max-results': 6,
				      	sort: '-ga:sessions'
				    },
				    chart: {
				      	container: 'sessions-by-country',
				      	type: 'PIE',
				      	options: {
					      	width: '100%',
					        pieHole: 4/9,
					        backgroundColor: 'transparent'
				      }
				    }
			  	});

			  	var dataChart3 = new gapi.analytics.googleCharts.DataChart({
				    query: {
				    	ids: 'ga:{{ config['analytics-view-id'] }}',
				      	metrics: 'ga:users',
				      	dimensions: 'ga:date',
				      	'start-date': '30daysAgo',
				      	'end-date': 'yesterday'
				    },
				    chart: {
				      	container: 'users-30-days',
				      	type: 'LINE',
				      	options: {
				      		width: '100%',
				      		backgroundColor: 'transparent'
				      }
				    }
			  	});

			  	var dataChart4 = new gapi.analytics.googleCharts.DataChart({
				    query: {
				    	ids: 'ga:{{ config['analytics-view-id'] }}',
				      	metrics: 'ga:avgSessionDuration',
				      	dimensions: 'ga:date',
				      	'start-date': '30daysAgo',
				      	'end-date': 'yesterday'
				    },
				    chart: {
				      	container: 'duration-30-days',
				      	type: 'LINE',
				      	options: {
				      		width: '100%',
				      		backgroundColor: 'transparent'
				      }
				    }
			  	});

			  	var dataChart5 = new gapi.analytics.googleCharts.DataChart({
				    query: {
				    	ids: 'ga:{{ config['analytics-view-id'] }}',
				      	metrics: 'ga:organicSearches',
				      	dimensions: 'ga:keyword',
				      	'start-date': '30daysAgo',
				      	'end-date': 'yesterday',
				      	sort: '-ga:organicSearches',
				      	'max-results': 10

				    },
				    chart: {
				      	container: 'organic-searches',
				      	type: 'TABLE',
				      	options: {
				      		width: '100%'
				      }
				    }
			  	});

			  	var dataChart6 = new gapi.analytics.googleCharts.DataChart({
				    query: {
				    	ids: 'ga:{{ config['analytics-view-id'] }}',
				      	metrics: 'ga:sessions',
				      	dimensions: 'ga:fullReferrer',
				      	'start-date': '30daysAgo',
				      	'end-date': 'yesterday',
				      	sort: '-ga:sessions',
				      	'max-results': 20
				    },
				    chart: {
				      	container: 'referrers-path',
				      	type: 'TABLE',
				      	options: {
				      		width: '100%',
				      		backgroundColor: 'transparent'
				      }
				    }
			  	});

			  	var dataChart7 = new gapi.analytics.googleCharts.DataChart({
				    query: {
				    	ids: 'ga:{{ config['analytics-view-id'] }}',
				      	metrics: 'ga:pageViews',
				      	dimensions: 'ga:pagePath',
				      	'start-date': '30daysAgo',
				      	'end-date': 'yesterday',
				      	sort: '-ga:pageViews',
				      	'max-results': 10
				    },
				    chart: {
				      	container: 'pages-view',
				      	type: 'TABLE',
				      	options: {
				      		width: '100%',
				      		backgroundColor: 'transparent'
				      }
				    }
			  	});

			  	var dataChart8 = new gapi.analytics.googleCharts.DataChart({
				    query: {
				    	ids: 'ga:{{ config['analytics-view-id'] }}',
				      	metrics: 'ga:bounces',
				      	dimensions: 'ga:date',
				      	'start-date': '30daysAgo',
				      	'end-date': 'yesterday'
				    },
				    chart: {
				      	container: 'bounces-view',
				      	type: 'LINE',
				      	options: {
				      		width: '100%',
				      		backgroundColor: 'transparent'
				      }
				    }
			  	});

			  	dataChart.execute();
		  		dataChart1.execute();
		  		dataChart3.execute();
		  		dataChart4.execute();
		  		dataChart5.execute();
		  		dataChart6.execute();
		  		dataChart7.execute();
		  		dataChart8.execute();
			});
		</script>
	{% endif %}
{% endblock %}