{% extends 'base.twig' %}

{% block title %}{{config['site-name']}} || View Email Details{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 content-header">
                <h1 class="page-header">
                    Emails <small>View Details</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i> Emails
                    </li>
                    <li class="active">
                        <i class="fa fa-eye"></i> Details
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Email Details</h3>
                    </div>
                    
                    <div class="box-body">
                        <form action="{{ currentRoute }}" method="POST" role="form">
                            <div class="col-md-6">
                                <h3>Details</h3>
                                <h4>Status: {{email.status}}</h4>
                                <h4>Message ID: {{email.secure_id}}</h4>
                                {% if user %}
                                    <h4>Name: {{ user.first_name }} {{ user.last_name }}</h4>
                                    <h4>Username: {{user.username}}</h4>
                                {% endif %}
                                <h4>To: {{email.send_to}}</h4>
                                <h4>Subject: {{email.subject}}</h4>
                                <h4>Plain Text: </h4>
                                <div>{{email.plain_text}}</div>
                            </div>
                            
                            <div class="col-md-6">
                                <h3>HTML View</h3>
                                {{email.html|raw}}
                            </div>
                            {{ csrf() }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.ckeditor.com/4.7.2/standard-all/ckeditor.js"></script>
<script src="{{ asset('AdminLTE/js/email.min.js') }}"></script>
{% endblock %}

