{% extends 'base.twig' %}

{% block title %}{{config['site-name']}} || New Template{% endblock %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 content-header">
                <h1 class="page-header">
                    Emails <small>New Template</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                    <li class="active">
                        <i class="fa fa-envelope"></i> Emails
                    </li>
                    <li class="active">
                        <i class="fa fa-plus"></i> New Template
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">New Template</h3>
                    </div>
                    <form action="{{ currentRoute }}" method="POST" role="form">
                        <div class="box-body">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group{% if has_error('name') %} has-error{% endif %}">
                                            <label for="name">Name</label>
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Name" value="{% if requestParams.name %}{{requestParams.name}}{% endif %}" required="required">
                                            <span class="help-block">{{ error('name') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group{% if has_error('slug') %} has-error{% endif %}">
                                            <label for="slug">Slug</label>
                                            <input type="text" name="slug" class="form-control" id="slug" placeholder="Slug" value="{% if requestParams.slug %}{{requestParams.slug}}{% endif %}" required="required">
                                            <span class="help-block">{{ error('slug') }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group{% if has_error('description') %} has-error{% endif %}">
                                    <label for="description">Description</label>
                                    <input type="description" name="description" class="form-control" id="description" placeholder="Description" value="{% if requestParams.description %}{{requestParams.description}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('description') }}</span>
                                </div>

                                <div class="form-group{% if has_error('subject') %} has-error{% endif %}">
                                    <label for="subject">Subject</label>
                                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" value="{% if requestParams.subject %}{{requestParams.subject}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('subject') }}</span>
                                </div>
                                <h5>
                                    Data Fields 
                                    <div class="btn btn-xs btn-success" id="add-placeholder-custom">
                                        <span class="fa fa-fw fa-plus"></span> Add Custom
                                    </div>
                                </h5>
                                <div class="row">
                                    <div class="col-md-12{% if has_error('placeholders') %} has-error{% endif %}" id="custom-placeholder-row" style="{% if not requestParams.placeholders %}display: none;{% endif %}">
                                        <h6>Custom</h6>
                                        <div class="help-block">{{ error('placeholders') }}</div>
                                        {% for placeholder in requestParams.placeholders %}
                                            <div style="float: left; margin: 5px;">
                                                <span class="btn btn-default placeholder-insert placeholder-custom" data-insert="{{ '{{ ' }} {{placeholder}} {{ ' }}' }}">{{ '{{ ' }}{{placeholder}} {{ ' }}' }}</span><span class="btn btn-danger placeholder-delete"><i class="fa fa-close"></i></span>
                                                <input type="hidden" name="placeholders[]" value="{{placeholder}}" />
                                            </div>
                                        {% endfor %}
                                        <div style="clear: both;"></div>
                                    </div>
                                </div>
                                {% for key,item in placeholders %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6>{{key}}</h6>
                                            {% for place in item %}
                                                <div style="float: left; margin: 5px;" class="btn btn-default placeholder-insert" data-insert="{{ '{{ ' }} {{place.name}} {{ ' }}' }}">{{ '{{ ' }} {{place.name}} {{ ' }}' }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group{% if has_error('html') %} has-error{% endif %}">
                                    <label for="html">HTML</label>
                                    <textarea name="html" class="form-control" id="html" required="required">{% if requestParams.html %}{{requestParams.html}}{% endif %}</textarea>
                                    <span class="help-block">{{ error('html') }}</span>
                                </div>

                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-success form-control">Save Template</button>
                                </div>

                                <div class="form-group col-md-6">
                                    <div id="send-test" class="btn btn-warning form-control">Send Test</div>
                                </div>
                            </div>
                            {{ csrf() }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.ckeditor.com/4.7.2/standard-all/ckeditor.js"></script>
<script src="{{ asset('AdminLTE/js/email.min.js') }}"></script>
{% endblock %}

