{% extends 'base.twig' %}

{% block title %}{{config['site-name']}} || Menus{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/css/bootstrap-iconpicker.min.css" />
{% endblock %}

{% block body %}
        <div class="col-lg-12 content-header">
            <h1 class="page-header">Menus</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
                <li class="active">
                    <i class="fa fa-map"></i> Menus
                </li>
            </ol>
        </div>

        <div class="col-md-4">
            <div class="box panel-primary">
                <div class="box-header">
                    <h3 class="box-title">All Menus</h3>
                    <div class="pull-right">
                        <button id="btnNew" type="button" class="btn btn-xs btn-success">
                            <i class="fa fa-plus"></i> New Menu
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody id="frmBody">
                                {% for menu in menus %}
                                    <tr>
                                        <td data-menu="{{menu.id}}" class="menu-selector{% if loop.first %} success{% endif %}" style="cursor: pointer;">
                                            {{menu.name}}
                                            <div class="pull-right">
                                                <a href="/dashboard/menus/export?menu_id={{menu.id}}" class="btn btn-xs btn-info export-menu">
                                                    <span class="fa fa-download"></span>
                                                </a> 
                                                {% if menu.id != 1 and menu.id != 2 %}
                                                    <button type="button" data-menu="{{menu.id}}" class="btn btn-xs btn-danger delete-menu">
                                                        <span class="fa fa-close"></span>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="box box-danger">
                <div class="box-header" style="cursor: pointer;">
                    <h3 class="box-title">Import / Export</h3>
                </div>

                <div class="box-body" id="import-export">
                    <form action="{{ path_for('admin-menus-import')}}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="checkbox" name="overwrite" data-toggle="toggle" data-on="Overwrite All Items" data-off="Only Import New Items" data-width="100%">
                        </div>
                        <div class="form-group text-center">
                            <label class="btn btn-success btn-file form-control">
                                <i class="fa fa-upload"></i> Upload JSON File <input type="file" name="import_file" id="import_file" style="display: none;">
                            </label>
                        </div>
                        {{csrf()}}
                    </form>

                    <div class="row">
                        <div class=" form-group col-md-12">
                            <a type="button" href="{{ path_for('admin-menus-export') }}?all=true" class="btn btn-warning form-control"><i class="fa fa-download"></i> Export All Menus</a>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="box panel-primary">
                <div class="box-header">
                    <h3 class="box-title"><span id="output-title">{{menus[0].name}}</span> JSON Output</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <textarea id="out" class="form-control" cols="50" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box panel-primary">
                <div class="box-header">
                    <h3 class="box-title">Visual Editor</h3>
                    <div class="pull-right">
                        <button id="btnReload" type="button" class="btn btn-xs btn-default">
                            <i class="glyphicon glyphicon-refresh"></i> Reset
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <ul id="myEditor" class="sortableLists list-group"></ul>
                    <div class="form-group">
                        <button id="btnSave" type="button" class="btn btn-success form-control" style="display: none;"><i class="glyphicon glyphicon-ok"></i> Save Menu</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box panel-primary">
                <div class="box-header">
                    <h3 class="box-title">New Menu Item</h3>
                </div>
                <div class="box-body">
                    <form id="frmEdit" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="text" class="control-label">Text</label>
                                <div class="input-group">
                                    <input type="text" class="form-control item-menu" id="text" name="text" placeholder="Text">
                                    <div class="input-group-btn">
                                        <button id="myEditor_icon" class="btn btn-default" data-iconset="fontawesome" data-icon="" type="button"></button>
                                    </div>
                                    <input type="hidden" name="icon" class="item-menu">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="page" class="control-label">Link To</label>
                                <select name="page" id="page" class="form-control item-menu select2">
                                    <option></option>
                                    {% for route in routes %}
                                        <option value="{{route}}">{{route}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="active" class="control-label">Active Pages</label>
                                <select name="active" id="active" class="form-control item-menu select2" multiple>
                                    {% for route in routes %}
                                        <option value="{{route}}">{{route}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="roles" class="control-label">Limit to Roles</label>
                                <select name="roles" id="roles" class="form-control item-menu select2" multiple>
                                    {% for role in roles %}
                                        <option value="{{role.slug}}">{{role.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="auth" class="control-label">Auth Only</label>
                                <input type="checkbox" class="item-menu bstoggle" name="auth" id="auth" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger" data-width="100%" value="false">
                            </div>
                            <div class="col-md-6">
                                <label for="guest" class="control-label">Guest Only</label>
                                <input type="checkbox" class="item-menu bstoggle" name="guest" id="guest" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="danger" data-width="100%" value="false">
                            </div>
                            <div class="col-md-6">
                                <label for="permission" class="control-label">Permission</label>
                                <input type="text" class="form-control item-menu" id="permission" name="permission" placeholder="permission.*">
                            </div>
                            <div class="col-md-6">
                                <label for="config_boolean" class="control-label">Config Option</label>
                                <select name="config_boolean" id="config_boolean" class="form-control item-menu select2">
                                    <option value=""></option>
                                    {% for c in configOptions %}
                                        <option value="{{ c.name }}">{{ c.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="target" class="control-label">Target</label>
                                <select name="target" id="target" class="form-control item-menu select2">
                                    <option value="_self">Self</option>
                                    <option value="_blank">Blank</option>
                                    <option value="_top">Top</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="tooltip" class="control-label">Tooltip</label>
                                <input type="text" class="form-control item-menu" id="tooltip" name="tooltip" placeholder="Tooltip">
                            </div>
                            <div class="col-sm-6">
                                <label for="html_id" class="control-label">ID</label>
                                <input type="text" class="form-control item-menu" id="html_id" name="html_id" placeholder="HTML ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="classes" class="control-label">Classes</label>
                                <select name="classes" id="classes" class="form-control item-menu" multiple>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" id="btnUpdate" class="btn btn-primary" disabled style="display: none;"><i class="fa fa-refresh"></i> Update</button>
                        <button type="button" id="btnCancel" class="btn btn-danger" disabled style="display: none;"><i class="fa fa-close"></i> Cancel</button>
                        <button type="button" id="btnAdd" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>

{% endblock %}

{% block javascript %}
<!-- Select2 Dropdowns -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery.ui.widget.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.iframe-transport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.fileupload.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{{asset('AdminLTE/js/iconset-fontawesome-4.7.0.min.js')}}"></script>
<script src="{{asset('AdminLTE/js/bootstrap-iconpicker.min.js')}}"></script>
<script src="{{asset('AdminLTE/js/jquery-menu-editor.min.js')}}"></script>
<script>
    var strjson = {% if menus[0].json %}{{ menus[0].json|raw }}{% else %}[]{% endif %};
    var iconPickerOptions = {searchText: 'Search...', labelHeader: '{0} of {1} Pages.'};
    var sortableListOptions = {
        placeholderCss: {'background-color': 'green'}
    };
    var activeMenu = {% if menus[0].id %}{{ menus[0].id }} {% else %}0{% endif %};
</script>
<script src="{{asset('AdminLTE/js/menus.js')}}"></script>
{% endblock %}