{% macro configString(name, description, type, value) %}
		<div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
				<label for="{{ name }}">{{ description }}</label>
			    <input type="text" name="{{ name }}" id="{{ name }}" class="form-control" value="{{ value }}">
			    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configTheme(name, description, type, value, themeList) %}
		<div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">{{ description }}</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required">
		    	{% for theme in themeList %}
		    	    <option value="{{ theme }}" {% if theme == value %}SELECTED{% endif %}>{{ theme }}</option>
		    	{% endfor %}
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configTimezone(name, description, type, value, timezones) %}
		<div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">{{ description }}</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required">
		    	
		    	{% for timezone in timezones %}
		    	    <option value="{{ timezone.zone }}" {% if timezone.zone == config.timezone %}SELECTED{% endif %}>{{ timezone.zone }} {{ timezone.diff_from_GMT }}</option>
		    	{% endfor %}
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configDefault(name, description, type, value) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">{{ description }}</label>
		    <input type="text" name="{{ name }}" id="{{ name }}" class="form-control" value="{{ value }}">
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configBootswatch(name, description, type, value, bsThemes) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">{{ description }}</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required">
		    	{% for theme in bsThemes %}
		    	    <option value="{{ theme|lower }}" {% if theme|lower == value  %}SELECTED{% endif %}>{{ theme }}</option>
		    	{% endfor %}
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configImage(name, description, type, value) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">{{ description }}</label>
		    <div class="input-group dm-input" data-name="{{ name }}" data-value="{{ value }}"></div>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}

{% macro configBoolean(name, description, value) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">{{ description }}</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required">
		    	<option value="1" {% if value %}selected{% endif %}>True</option>
		    	<option value="0" {% if not value %}selected{% endif %}>False</option>
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}