
{% macro text(name, value, id, label, class, type, disabled = null) %}
    <div class="form-group floating-label-form-group{% if has_error(name) %} has-error{% endif %}">
        <label for="{{ id }}">{{ label }}</label>
        <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value }}" id="{{ id }}" placeholder="{{ label }}" class="form-control {{ class }}" aria-describedby="{{ id }}-help-block" {% if disabled %}disabled{% endif %}>
        <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
    </div>
{% endmacro %}

{% macro hidden(name, value, id) %}
    <input type="hidden" name="{{ name }}" value="{{ value }}" id="{{ id }}" class="form-control {{ class }}" aria-describedby="{{ id }}-help-block">
{% endmacro %}

{% macro select(name, options, default_value, default_text, selected_value, id, label) %}
    <div class="form-group floating-label-form-group{% if has_error(name) %} has-error{% endif %}">
        {% if label %}
            <label for="{{ id }}">{{ label }}</label>
        {% endif %}
        <select name="{{ name }}" id="{{ id }}" placeholder="{{ label }}" class="form-control" aria-describedby="{{ id }}-help-block">
            {% if default_value or default_text %}
                <option value="{{ default_value }}">{{ default_text }}</option>
            {% endif %}
            {% for option in options %}
                <option value="{{ option.value }}"{% if selected_value == option.value %} selected{% endif %}>{{ option.name }}</option>
            {% endfor %}
        </select>
        <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
    </div>
{% endmacro %}

{% macro textarea(name, value, id, label, class, rows, cols, disabled = null) %}
    <div class="form-group floating-label-form-group{% if has_error(name) %} has-error{% endif %}">
        <label for="{{ id }}">{{ label }}</label>
        <textarea class="form-control {{ class }}" name="{{ name }}" id="{{ id }}" placeholder="{{ label }}" cols="{{ cols }}" rows="{{ rows }}" aria-describedby="{{ id }}-help-block" {% if disabled %}disabled{% endif %}>{{ value }}</textarea>
        <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
    </div>
{% endmacro %}


{% macro custom(name, html) %}
    <div class="form-group{% if has_error(name) %} has-error{% endif %}">
        {{ html|raw }}
        <span id="{{ name }}-help-block" class="help-block">{{ error(name) }}</span>
    </div>
{% endmacro %}
