{% macro configString(name, description, type, value) %}
		<div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
				<label for="{{ name }}">
					{{ description }} - ({{name}})
					<span class="config-button" data-default="{{ value }}">
						<span class="config-edit"><i class="fa fa-edit"></i> Edit</span>
					</span>
				</label>
			    <input type="text" name="{{ name }}" id="{{ name }}" class="form-control" value="{{ value }}" disabled>
			    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configTheme(name, description, type, value, themeList) %}
		<div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">
				{{ description }} - ({{name}})
				<span class="config-button" data-default="{{ value }}">
					<span class="config-edit"><i class="fa fa-edit"></i> Edit</span>
				</span>
			</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required" disabled>
		    	{% for theme in themeList %}
		    	    <option value="{{ theme }}" {% if theme == value %}SELECTED{% endif %}>{{ theme }}</option>
		    	{% endfor %}
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configTimezone(name, description, type, value, timezones) %}
		<div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">
				{{ description }} - ({{name}})
				<span class="config-button" data-default="{{ value }}">
					<span class="config-edit"><i class="fa fa-edit"></i> Edit</span>
				</span>
			</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required" disabled>
		    	
		    	{% for timezone in timezones %}
		    	    <option value="{{ timezone.zone }}" {% if timezone.zone == config.timezone %}SELECTED{% endif %}>{{ timezone.zone }}</option>
		    	{% endfor %}
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configDefault(name, description, type, value) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="
			{{ name }}">{{ description }}
			<span class="config-button" data-default="{{ value }}">
				<span class="config-edit"><i class="fa fa-edit"></i> Edit</span>
			</span>
		</label>
		    <input type="text" name="{{ name }}" id="{{ name }}" class="form-control" value="{{ value }}" disabled>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configBootswatch(name, description, type, value, bsThemes) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">
				{{ description }} - ({{name}})
				<span class="config-button" data-default="{{ value }}">
					<span class="config-edit"><i class="fa fa-edit"></i> Edit</span>
				</span>
			</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required" disabled>
		    	{% for theme in bsThemes %}
		    	    <option value="{{ theme|lower }}" {% if theme|lower == value  %}SELECTED{% endif %}>{{ theme }}</option>
		    	{% endfor %}
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configImage(name, description, type, value) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">
				{{ description }} - ({{name}})
				<span class="config-button" data-default="{{ value }}">
					<span class="config-edit"><i class="fa fa-edit"></i> Edit</span>
				</span>
			</label>
		    <div class="input-group dm-input" data-name="{{ name }}" data-value="{{ value }}"></div>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}
{% macro configColor(name, description, value) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">
				{{ description }} - ({{name}})
				<span class="config-button" data-default="{{ value }}">
				</span>
			</label>
			<input type="text" name="{{ name }}" id="{{ name }}" class="form-control jscolor" data-jscolor="{width:243, height:150, borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}" value="{{ value }}" disabled/>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}

{% macro configBoolean(name, description, value) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">
				{{ description }} - ({{name}})
				<span class="config-button" data-default="{{ value }}">
					<span class="config-edit"><i class="fa fa-edit"></i> Edit</span>
				</span>
			</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required" disabled>
		    	<option value="1" {% if value %}selected{% endif %}>True</option>
		    	<option value="0" {% if not value %}selected{% endif %}>False</option>
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}

{% macro configHtml(name, description, value) %}
		<div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
				<label for="{{ name }}">
					{{ description }} - ({{name}})
					<span class="config-button" data-default="{{ value }}">
						
					</span>
				</label>
				<input type="hidden" class="htmlinput" name="{{ name }}" id="{{ name }}" value="{{ value }}">
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="btn btn-info dappur-html-preview form-control" data-html="{{name}}">Preview</button>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-warning dappur-html-edit form-control" data-html="{{name}}">Edit HTML</button>
					</div>
				</div>
			    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}

{% macro configAdminLteSkin(name, description, value) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">
				{{ description }} - ({{name}})
				<span class="config-button" data-default="{{ value }}">
					<span class="config-edit"><i class="fa fa-edit"></i> Edit</span>
				</span>
			</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required" disabled>
				<option value="skin-blue" {% if value == "skin-blue" %}selected{% endif %}>skin-blue</option>
				<option value="skin-blue-light" {% if value == "skin-blue-light" %}selected{% endif %}>skin-blue-light</option>
				<option value="skin-yellow" {% if value == "skin-yellow" %}selected{% endif %}>skin-yellow</option>
				<option value="skin-yellow-light" {% if value == "skin-yellow-light" %}selected{% endif %}>skin-yellow-light</option>
				<option value="skin-green" {% if value == "skin-green" %}selected{% endif %}>skin-green</option>
				<option value="skin-green-light" {% if value == "skin-green-light" %}selected{% endif %}>skin-green-light</option>
				<option value="skin-purple" {% if value == "skin-purple" %}selected{% endif %}>skin-purple</option>
				<option value="skin-purple-light" {% if value == "skin-purple-light" %}selected{% endif %}>skin-purple-light</option>
				<option value="skin-red" {% if value == "skin-red" %}selected{% endif %}>skin-red</option>
				<option value="skin-red-light" {% if value == "skin-red-light" %}selected{% endif %}>skin-red-light</option>
				<option value="skin-black" {% if value == "skin-black" %}selected{% endif %}>skin-black</option>
				<option value="skin-black-light" {% if value == "skin-black-light" %}selected{% endif %}>skin-black-light</option>
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}

{% macro configMenu(name, description, value, menus) %}
	    <div class="col-md-6 form-group{% if has_error(name) %} has-error{% endif %}">
			<label for="{{ name }}">
				{{ description }} - ({{name}})
				<span class="config-button" data-default="{{ value }}">
					<span class="config-edit"><i class="fa fa-edit"></i> Edit</span>
				</span>
			</label>
		    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required" disabled>
				{% for menu in menus %}
				    <option value="{{menu.id}}" {% if value == menu.id %}selected{% endif %}>{{menu.name}}</option>
				{% endfor %}
		    </select>
		    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		</div>
{% endmacro %}