<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image"><img alt="User Image" class="img-circle" src="{{ gravatar(auth.user.email) }}"></div>
			<div class="pull-left info">
				<p>{{auth.user.first_name}} {{auth.user.last_name}}</p><a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">NAVIGATION</li>
			{% set menu = getMenu(config['dashboard-menu']) %}
            {% for m in menu %}
            	{% if m.config_boolean is empty or (m.config_boolean is not empty and config[m.config_boolean]) %}
	                {% if m.children is empty %}
	                    <li class="{% if pageName in m.active %}active{% endif %}{% for class in m.classes %} {{ class }}{% endfor %}" {% if m.html_id is not empty %}id="{{m.html_id}}"{% endif %}>
	                        <a href="{% if m.page is not empty %}{{path_for(m.page)}}{% else %}javascript:;{% endif %}">
	                            <span class="fa {{m.icon}}"></span> {{m.text}}
	                        </a>
	                    </li>
	                {% else %}
	                    <li class="treeview{% if pageName in m.active %} active{% endif %}{% for class in m.classes %} {{ class }}{% endfor %}" {% if m.html_id is not empty %}id="{{m.html_id}}"{% endif %}>
	                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	                            <span class="fa {{m.icon}}"></span> {{m.text}} <span class="caret"></span>
	                        </a>
	                        <ul class="treeview-menu">
	                            {% for c in m.children %}
	                                <li class="{% if pageName in c.active %}active{% endif %}{% for class in c.classes %} {{ class }}{% endfor %}" {% if c.html_id is not empty %}id="{{c.html_id}}"{% endif %}>
	                                    <a href="{% if c.page is not empty %}{{path_for(c.page)}}{% else %}javascript:;{% endif %}">
	                                        <span class="fa {{c.icon}}"></span> {{c.text}}
	                                    </a>
	                                </li>
	                            {% endfor %}
	                        </ul>
	                    </li>
	                {% endif %}
                {% endif %}
            {% endfor %}

		    {% if auth.hasAccess('settings.view') %}
			    <li class="treeview {% if currentRoute starts with '/dashboard/settings/page-settings/' %}active{% endif %}">
			        <a href="javascript:;"><i class="fa fa-fw fa-wrench"></i> Page Settings <i class="fa fa-fw fa-caret-down"></i></a>
			        <ul class="treeview-menu {% if currentRoute starts with '/dashboard/settings/page-settings/' %}in{% endif %}">
			            {% for item in pageSettings %}
			                <li class="{% if currentRoute starts with '/dashboard/settings/page-settings/' ~ item.page_name %}active{% endif %}">
			                    <a href="{{ path_for('settings-page', {'page_name': item.page_name})}}"><i class="fa fa-file-o fa-fw"></i> {{item.page_name}}</a>
			                </li>
			            {% endfor %}
			        </ul>
			    </li>
		    {% endif %}
		</ul>
	</section><!-- /.sidebar -->
</aside>