{% import 'macros/global-config.twig' as configMacro %}

<div class="col-lg-8">
    <form action="{{ currentRoute }}" method="post">

        {% for group in settingsGrouped %}
            <div class="box box-primary {% if not loop.first %}collapsed-box{% endif %}">
                <div class="box-header" style="cursor: pointer;">
                    <div class="pull-left box-title">{{ group.name }}</div>
                    <div class="pull-right box-tools">
                        <button class="btn btn-primary btn-sm pull-right" data-toggle="tooltip" data-widget="collapse" title="Collapse" type="button"><i class="fa fa-{% if loop.first %}minus{% else %}plus{% endif %}"></i></button>
                        <a href="{{path_for('settings-export')}}?group_id={{group.id}}">
                             <button class="btn btn-primary btn-sm pull-right" data-toggle="tooltip" style="margin-right: 5px;"  title="Export Group" type="button"><i class="fa fa-download"></i> Export</button>
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                
                <div class="box-body {% if loop.first %}in{% endif %}" id="{{ group.name|replace({' ': ""}) }}">
                        {% for item in group.config %}
                            {% if item.type_id == 3 %}
                                {{ configMacro.configTheme(item.name, item.description, "theme", item.value, themeList) }}
                            {% elseif item.name == "adminlte-skin" %}
                                {{ configMacro.configAdminLteSkin(item.name, item.description, item.value) }}
                            {% elseif item.type_id == 2 %}
                                {{ configMacro.configString(item.name, item.description, "string", item.value) }}
                            {% elseif item.type_id == 1 %}
                                {{ configMacro.configTimezone(item.name, item.description, "timezone", item.value, timezones, cfg.timezone) }}
                            {% elseif item.type_id == 4 %}
                                {{ configMacro.configBootswatch(item.name, item.description, "bootswatch", item.value, bsThemes) }}
                            {% elseif item.type_id == 5 %}
                                {{ configMacro.configImage(item.name, item.description, "image", item.value) }}
                            {% elseif item.type_id == 6 %}
                                {{ configMacro.configBoolean(item.name, item.description, item.value) }}
                            {% elseif item.type_id == 7 %}
                                {{ configMacro.configHtml(item.name, item.description, item.value) }}
                            {% elseif item.type_id == 8 %}
                                {{ configMacro.configColor(item.name, item.description, item.value) }}
                            {% elseif item.type_id == 9 %}
                                {{ configMacro.configMenu(item.name, item.description, item.value, menus) }}
                            {% else %}
                                {{ configMacro.configDefault(item.name, item.description, item.value) }}
                            {% endif %}
                        {% endfor %}
                </div>
            </div>

        {% endfor %}

        {{ csrf() }}
    </form>
</div>