{% extends 'base.twig' %}

{% block title %}
	{{config['site-name']}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<!-- Blog Entries Column -->
			<div class="col-md-8">

				{% for post in posts.results %}
				    <div class="card mb-4">
				    	<h2 class="card-title">{{post.title}}</h2>

				    	{% if post.video_id and post.video_provider %}
                            {% if post.video_provider == "youtube" %}
                                <div class="video-container">
                                    <iframe src="https://www.youtube.com/embed/{{post.video_id}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% endif %}

                            {% if post.video_provider == "vimeo" %}
                                <div class="video-container">
                                    <iframe src="https://player.vimeo.com/video/{{post.video_id}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            {% endif %}
						{% elseif post.featured_image %}
							<img alt="Card image cap" class="card-img-top img-responsive" src="{{post.featured_image}}">
						{% endif %}
						<div class="card-footer text-muted">
							Posted on January 1, 2017 by <a href="#">Start Bootstrap</a>
						</div>
						<div class="card-body">
							
							<p class="card-text te">{{post.description}}</p>
							<div class="text-right"><a class="btn btn-primary" href="#">Read More &rarr;</a></div>
						</div>
						
					</div>
				{% endfor %}

				
				<ul class="pagination justify-content-center mb-4">
					<li class="page-item">
						<a class="page-link" href="#">&larr; Older</a>
					</li>
					<li class="page-item disabled">
						<a class="page-link" href="#">Newer &rarr;</a>
					</li>
				</ul>
			</div><!-- Sidebar Widgets Column -->
			<div class="col-md-4">
		    	{% include 'inc/blog-sidebar.twig' %}
		    </div>
		</div><!-- /.row -->
	</div><!-- /.container -->
{% endblock %}

{% block javascript %}
    {{ recaptchaJs() }}
{% endblock %}