{% extends 'base.twig' %}

{% import 'macros/form.twig' as form %}

{% block body %}

<div class="container">

    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            <img src="{{config['logo']}}" class="img-responsive" alt="{{ config['site-name'] }} Logo">
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">Forgot Password</div>
                <div class="panel-body">
                    <form action="{{ path_for('forgot-password') }}" method="POST">
                        {{ form.text('email', null, 'email', 'Email Address') }}
                        {{ csrf() }}

                        {% if config['recaptcha-enabled'] %}
                            {{ form.custom('recaptcha', recaptcha()) }}
                        {% endif %}
                        <input type="submit" value="Reset Password" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    {% if config['recaptcha-enabled'] %}{{ recaptchaJs() }}{% endif %}
{% endblock %}
