{% extends 'base.twig' %}

{% block title %}
	{{config['site-name']}}
{% endblock %}

{% block body %}
	<div class="container">
	    <div class="jumbotron">
	    	<div class="row">
		    	<div class="col-md-12" style="text-align: right;">
		    		{% if auth.user() %}
			        	Welcome, {{auth.user.first_name}} {{ auth.user.last_name }}!
			        {% endif %}
		    	</div>
		    </div>

		    <div class="row text-center">
		    	<div class="col-md-6 col-md-offset-3">
		    		<p>
		    			<img src="{{config['logo']}}" class="img-responsive" alt="Dappur Logo">
		    		</p>
		    	</div>
		    </div>
	    	<div class="row">
		    	<div class="col-md-12">
		    		{{ page_config['home-paragraph']|raw }}
		    	</div>
		    </div>
	    </div>
	</div>
{% endblock %}
